@import "../../sassStyles/variables.scss";

.button_container {
  display: flex;
  justify-content: space-evenly;
  margin: 3rem auto;
}

.button_container:hover {
  cursor: pointer;
}

.previousBtn,
.nextBtn {
  color: $white;
  border-radius: 5px;
  margin: 0 3em;
}

.previousBtn:hover,
.nextBtn:hover {
  opacity: 0.5;
}

//testing
