@import "../../sassStyles/variables.scss";

.button_container {
  display: flex;
  justify-content: space-between;
  margin: 3em;
}
.button_container:hover {
  cursor: pointer;
}

.previousBtn,
.nextBtn {
  color: $white;
  border: 3px solid $mintGreen;
  border-radius: 5px;
}

.previousBtn:hover,
.nextBtn:hover {
  opacity: 0.5;
}
