@import "../../sassStyles//variables.scss";

.ufoGiff_Wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
}
.ufoGiff_Container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

//disable hover on giff
.ufoGiff {
  pointer-events: none;
}

//headding
.UfoGiff_heading {
  color: $white;
  text-transform: capitalize;
  letter-spacing: 1px;
}
