//col
.UfoCardContainer {
  border-radius: 20px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.UfoCardContainer:hover {
  border: 1px solid rgb(24, 231, 180);
  box-shadow: none;
}

.UfoCardContainer:nth-child(even) {
  background-color: #0a0a0a;
}
.UfoCardContainer:nth-child(odd) {
  background-color: #080808;
}

//subtitle
.Subtitle {
  color: #770ca8;
  text-align: center;

  p {
    text-transform: capitalize;
    display: inline;
    font-size: 20px;
    font-weight: bolder;
  }
}

.description {
  color: #fcfbfe;
  text-align: center;
}

.cardBody {
  height: 320px;
  display: flex;
  flex-direction: column;
}

.googleMapContainer {
  flex-grow: 1;
  position: relative;
}

.googleMapIcon {
  position: absolute;
  bottom: 0;
}

.googleMapIcon:hover {
  cursor: pointer;
  background-color: #660094;
  border-radius: 10px;
}

//google map text pop up upon hover.
.UfoCardContainer:hover .googleMapIcon,
.UfoCardContainer:hover .uponHoverText {
  display: block;
}
.uponHoverText {
  display: none;
  position: absolute;
  top: 70%;
  bottom: 0%;
  left: 15%;
  right: 5%;
  color: white;
  font-size: 16px;
}

.googleMapIcon {
  display: none;
  position: absolute;
  top: 65%;
  bottom: 0%;
  left: 0%;
  right: 40%;
  color: white;
  font-size: 16px;
}
