//colors
$mintGreen: rgb(24, 231, 180);
$white: #fff;
$black: #000;
$spacePurple: #770ca8;

//heading
$h1: 28px;
$h2: 24px;
$h3: 20px;
$h5: 24px;

//padding
$p1: 5px;
$p2: 8px;
$p3: 11px;
$p5: 14px;
$p6: 17px;
$p7: 20px;

//margin
$m1: 5px;
$m2: 8px;
$m3: 11px;
$m5: 14px;
$m6: 17px;
$m7: 20px;
