@import "../../sassStyles/variables.scss";
.enterButton {
  padding: 5px 20px;
  background-color: $black;
  color: $mintGreen;
  border: 1px solid $white;
  border-radius: 5px;
  font-size: 20px;
  transition: 1s;
}

.enterButton:hover {
  transition: 0.5s;

  box-shadow: 0 0 40px 40px rgb(255, 255, 255), 0 0 100px 60px rgb(65, 2, 65),
    0 0 80px 60px #0ff;
  background-color: white;
  color: black;

  border: 3px solid black;
}
